<div class="transaction-row">
  <div class="transaction-icon" [class.subscription]="transaction.type === 'subscription'">
    <mat-icon>{{ transaction.type === 'subscription' ? 'check_circle' : 'error' }}</mat-icon>
  </div>
  
  <div class="transaction-info">
    <div class="title">{{ transaction.type === 'subscription' ? 'Apertura' : 'Cancelación' }} - {{ transaction.fundName }}</div>
    <div class="date">{{ transaction.date | date:'medium' }}</div>
  </div>
  
  <div class="transaction-amount" [ngClass]="transaction.type === 'subscription' ? 'is-negative' : 'is-positive'">
    {{ transaction.type === 'subscription' ? '-' : '+' }}{{ transaction.amount | currencyFormat }}
  </div>
  
</div>
